In [54]:
import pandas as pd

In [55]:
events = pd.read_excel("events.xlsx", engine='openpyxl')
key_segments = pd.read_excel("key segments.xlsx", engine='openpyxl')
segment_data = pd.read_csv("segment_data.csv", sep=";")
monday_speeds = pd.read_csv("monday-speeds.csv", sep=";")
segments_ids_nord_direction = pd.read_csv("north_direction_road_segments.txt", header=None, names=['SegmentId'])

### Event Document

In [56]:
key_segments.loc[key_segments['SegmentID'] == 428389808].head(50)

,RouteID,SegmentID,ValidFrom,ValidTo,Längd,Färdriktn,Latitud,Longitud,Ordning,Väg,Antal kf,Hastighet,Korsning,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19
48,1520100002,428389808,2019-04-18,9999-12-31 23:00:00,214,Syd,"61,068809","16,964382",35,E4,1kf,100,Påfart,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [57]:
key_segments.loc[key_segments['Färdriktn'] != "Syd"].head(50)

,RouteID,SegmentID,ValidFrom,ValidTo,Längd,Färdriktn,Latitud,Longitud,Ordning,Väg,Antal kf,Hastighet,Korsning,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19
97,1520100060,1071754019,2019-04-20 01:00:00,9999-12-31 23:00:00,927,Norr,"61,1431","16,901216",10,83,1kf,90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,1520100070,1071754180,2019-04-20 02:00:00,9999-12-31 23:00:00,934,Norr,"61,161885","16,866368",13,83,1kf,90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,1520100071,1071754151,2019-04-20 03:00:00,9999-12-31 23:00:00,930,Norr,"61,165335","16,851285",14,83,1kf,90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100,1520100072,1071754251,2019-04-20 04:00:00,9999-12-31 23:00:00,932,Norr,"61,149015","16,889462",11,83,1kf,90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101,1520100073,375118964,2019-04-20 05:00:00,9999-12-31 23:00:00,931,Norr,"61,137057","16,913236",9,83,1kf,90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
102,1520100074,428410138,2019-04-20 06:00:00,9999-12-31 23:00:00,932,Norr,"61,13098","16,924403",8,83,1kf,90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
103,1520100075,1071754109,2019-04-20 07:00:00,9999-12-31 23:00:00,929,Norr,"61,124236","16,93289",7,83,1kf,90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
104,1520100076,1071754436,2019-04-20 08:00:00,9999-12-31 23:00:00,808,Norr,"61,107871","16,939029",5,83,1kf,90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105,1520100077,1071754407,2019-04-20 09:00:00,9999-12-31 23:00:00,929,Norr,"61,115522","16,934902",6,83,1kf,90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
106,1520100078,1071754470,2019-04-20 10:00:00,9999-12-31 23:00:00,1048,Norr,"61,100945","16,947959",4,83,1kf,90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
107,1520100079,1071754507,2019-04-20 11:00:00,9999-12-31 23:00:00,929,Norr,"61,092962","16,954621",3,83,1kf,90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
108,1520100080,1071754305,2019-04-20 12:00:00,9999-12-31 23:00:00,924,Norr,"61,077023","16,962922",1,83,1kf,90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
109,1520100081,1071754276,2019-04-20 13:00:00,9999-12-31 23:00:00,930,Norr,"61,085037","16,958575",2,83,1kf,90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
110,1520100115,1071754214,2019-04-20 14:00:00,9999-12-31 23:00:00,927,Norr,"61,155449","16,878116",12,83,1kf,90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
111,1520100054,1071846315,2019-04-20 15:00:00,9999-12-31 23:00:00,969,Norr,"61,290824","17,022578",82,E4,2kf,100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
112,1520100108,1071846331,2019-04-20 16:00:00,9999-12-31 23:00:00,975,Norr,"61,282686","17,0266",81,E4,1kf->2kf,100,Stopplikt,NaN,NaN,NaN,NaN,NaN,NaN,NaN
113,1520100052,1071846327,2019-04-20 17:00:00,9999-12-31 23:00:00,981,Norr,"61,273813","17,026452",80,E4,1kf,100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
114,1520100053,428403372,2019-04-20 18:00:00,9999-12-31 23:00:00,634,Norr,"61,266699","17,029372",79,E4,1kf,100,StoppliktE,NaN,NaN,NaN,NaN,NaN,NaN,NaN
115,1520100051,1071846295,2019-04-20 19:00:00,9999-12-31 23:00:00,1310,Norr,"61,258902","17,034597",78,E4,Vävning,100,StoppliktF,NaN,NaN,NaN,NaN,NaN,NaN,NaN
116,1520100050,1071846247,2019-04-20 20:00:00,9999-12-31 23:00:00,977,Norr,"61,248208","17,033475",77,E4,2kf,100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
117,1520100193,428403374,2019-04-20 21:00:00,9999-12-31 23:00:00,81,Norr,"61,243415","17,033504",76,E4,2kf,100,Påfart,NaN,NaN,NaN,NaN,NaN,NaN,NaN
118,1520100189,428403369,2019-04-20 22:00:00,9999-12-31 23:00:00,192,Norr,"61,242183","17,033525",75,E4,1kf->2kf,100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119,1520100055,428403352,2019-04-20 23:00:00,9999-12-31 23:00:00,645,Norr,"61,238406","17,033106",74,E4,Vävning,100,Kilavfart,NaN,NaN,NaN,NaN,NaN,NaN,NaN
120,1520100109,1071846212,2019-04-21 00:00:00,9999-12-31 23:00:00,455,Norr,"61,233678","17,031936",73,E4,1kf->2kf,100,Stopplikt,NaN,NaN,NaN,NaN,NaN,NaN,NaN
121,1520100110,1071846229,2019-04-21 01:00:00,9999-12-31 23:00:00,888,Norr,"61,227301","17,032949",72,E4,1kf,100,Kilavfart,NaN,NaN,NaN,NaN,NaN,NaN,NaN
122,1520100112,428403351,2019-04-21 02:00:00,9999-12-31 23:00:00,671,Norr,"61,22119","17,038187",71,E4,Vävning,100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
123,1520100111,1071845928,2019-04-21 03:00:00,9999-12-31 23:00:00,662,Norr,"61,215737","17,043053",70,E4,2kf,100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
124,1520100056,428403350,2019-04-21 04:00:00,9999-12-31 23:00:00,101,Norr,"61,212492","17,045551",69,E4,2kf,100,Påfart,NaN,NaN,NaN,NaN,NaN,NaN,NaN
125,1520100188,428403354,2019-04-21 05:00:00,9999-12-31 23:00:00,207,Norr,"61,211142","17,046117",68,E4,1kf->2kf,100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
126,1520100194,1071845882,2019-04-21 06:00:00,9999-12-31 23:00:00,867,Norr,"61,206398","17,047576",67,E4,1kf,100,Kilavfart,NaN,NaN,NaN,NaN,NaN,NaN,NaN
127,1520100107,1071845897,2019-04-21 07:00:00,9999-12-31 23:00:00,950,Norr,"61,198212","17,048054",66,E4,Vävning,100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
128,1520100049,1071845849,2019-04-21 08:00:00,9999-12-31 23:00:00,954,Norr,"61,18978","17,046422",65,E4,1kf->2kf,100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
129,1520100047,1071845863,2019-04-21 09:00:00,9999-12-31 23:00:00,964,Norr,"61,18115","17,046691",64,E4,1kf,100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
130,1520100048,1071845814,2019-04-21 10:00:00,9999-12-31 23:00:00,951,Norr,"61,172196","17,046846",63,E4,Vävning,100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
131,1520100106,1071845832,2019-04-21 11:00:00,9999-12-31 23:00:00,949,Norr,"61,165316","17,039154",62,E4,1kf->2kf,100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
132,1520100046,1071846073,2019-04-21 12:00:00,9999-12-31 23:00:00,956,Norr,"61,1571","17,033965",61,E4,1kf,100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
133,1520100187,428408668,2019-04-21 13:00:00,9999-12-31 23:00:00,931,Norr,"61,148566","17,033542",60,E4,Vävning,100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
134,1520100186,226863110,2019-04-21 14:00:00,9999-12-31 23:00:00,981,Norr,"61,140235","17,028502",59,E4,1kf->2kf,100,Kilavfart,NaN,NaN,NaN,NaN,NaN,NaN,NaN
135,1520100105,1071846041,2019-04-21 15:00:00,9999-12-31 23:00:00,906,Norr,"61,133213","17,020354",58,E4,1kf,100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
136,1520100185,1071845991,2019-04-21 16:00:00,9999-12-31 23:00:00,948,Norr,"61,1253","17,014987",57,E4,Vävning,100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
137,1520100184,1071846005,2019-04-21 17:00:00,9999-12-31 23:00:00,1002,Norr,"61,116428","17,013366",56,E4,2kf,100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
138,1520100104,1071845955,2019-04-21 18:00:00,9999-12-31 23:00:00,961,Norr,"61,108562","17,005617",55,E4,1kf->2kf,100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
139,1520100183,1071845973,2019-04-21 19:00:00,9999-12-31 23:00:00,942,Norr,"61,102163","16,994427",54,E4,1kf,100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
140,1520100182,375114290,2019-04-21 20:00:00,9999-12-31 23:00:00,963,Norr,"61,095332","16,984235",53,E4,Vävning,100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
141,1520100102,1071790317,2019-04-21 21:00:00,9999-12-31 23:00:00,951,Norr,"61,087994","16,97601",52,E4,2kf,100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
142,1520100045,1071790267,2019-04-21 22:00:00,9999-12-31 23:00:00,959,Norr,"61,07916","16,970411",51,E4,2kf,100,Påfart,NaN,NaN,NaN,NaN,NaN,NaN,NaN
143,1520100103,428389806,2019-04-21 23:00:00,9999-12-31 23:00:00,77,Norr,"61,075476","16,966374",50,E4,1kf->2kf,100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
144,1520100113,428389804,2019-04-22 00:00:00,9999-12-31 23:00:00,613,Norr,"61,072701","16,964417",49,E4,1kf,100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
145,1520100095,428389809,2019-04-22 01:00:00,9999-12-31 23:00:00,211,Norr,"61,06885","16,964537",48,E4,1kf,100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
146,1520100021,1071707154,2019-04-22 02:00:00,9999-12-31 23:00:00,971,Norr,"61,063323","16,963869",47,E4,2kf,100,Avfart,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### SegmentID direction and coordinates

In [58]:
key_segments.head(50)

,RouteID,SegmentID,ValidFrom,ValidTo,Längd,Färdriktn,Latitud,Longitud,Ordning,Väg,Antal kf,Hastighet,Korsning,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19
0,1520100057,1071754891,2019-04-16 00:00:00,9999-12-31 00:00:00,930,Syd,"61,165335","16,851284",1,83,1kf,90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1520100058,1071754134,2019-04-16 01:00:00,9999-12-31 01:00:00,934,Syd,"61,161885","16,866368",2,83,1kf,90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1520100059,1071754197,2019-04-16 02:00:00,9999-12-31 02:00:00,932,Syd,"61,149015","16,889462",4,83,1kf,90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1520100061,1071754002,2019-04-16 03:00:00,9999-12-31 03:00:00,932,Syd,"61,137055","16,91324",6,83,1kf,90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1520100062,428397715,2019-04-16 04:00:00,9999-12-31 04:00:00,938,Syd,"61,131006","16,924362",7,83,1kf,90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1520100063,1071754066,2019-04-16 05:00:00,9999-12-31 05:00:00,929,Syd,"61,124233","16,932893",8,83,1kf,90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1520100064,374986318,2019-04-16 06:00:00,9999-12-31 06:00:00,929,Syd,"61,115489","16,9349",9,83,1kf,90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1520100065,1071754391,2019-04-16 07:00:00,9999-12-31 07:00:00,935,Syd,"61,107371","16,939636",10,83,1kf,90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1520100066,1071754420,2019-04-16 08:00:00,9999-12-31 08:00:00,915,Syd,"61,100528","16,948509",11,83,1kf,90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1520100067,1071754453,2019-04-16 09:00:00,9999-12-31 09:00:00,938,Syd,"61,092998","16,954625",12,83,1kf,90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,1520100068,1071754491,2019-04-16 10:00:00,9999-12-31 10:00:00,930,Syd,"61,08504","16,958573",13,83,1kf,90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,1520100069,1071754259,2019-04-16 11:00:00,9999-12-31 11:00:00,925,Syd,"61,076945","16,962923",14,83,1kf,90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,1520100090,1071754235,2019-04-16 12:00:00,9999-12-31 12:00:00,927,Syd,"61,143101","16,901215",5,83,1kf,90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,1520100114,1071754164,2019-04-16 13:00:00,9999-12-31 13:00:00,927,Syd,"61,155449","16,878116",3,83,1kf,90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,1520100022,1071891776,2019-04-16 14:00:00,9999-12-31 14:00:00,982,Syd,"61,291443","17,022383",1,E4,Vävning,100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,1520100023,1071891750,2019-04-16 15:00:00,9999-12-31 15:00:00,991,Syd,"61,283164","17,026266",2,E4,1kf,100,Stopplikt,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,1520100024,1071891804,2019-04-16 16:00:00,9999-12-31 16:00:00,993,Syd,"61,274207","17,026397",3,E4,1kf->2kf,100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,1520100025,428399187,2019-04-16 17:00:00,9999-12-31 17:00:00,574,Syd,"61,267246","17,028835",4,E4,Vävning,100,Kilavfart,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,1520100026,374928642,2019-04-16 18:00:00,9999-12-31 18:00:00,1403,Syd,"61,259524","17,03416",5,E4,1kf,100,Stopplikt,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,1520100027,374928641,2019-04-16 19:00:00,9999-12-31 19:00:00,954,Syd,"61,24875","17,033405",6,E4,1kf,100,Kilavfart,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,1520100190,428403373,2019-04-16 20:00:00,9999-12-31 20:00:00,215,Syd,"61,243448","17,03336",7,E4,1kf,100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,1520100028,1071860537,2019-04-16 21:00:00,9999-12-31 21:00:00,728,Syd,"61,239168","17,033183",8,E4,1kf,100,Väjningsplikt,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,1520100029,428403366,2019-04-16 22:00:00,9999-12-31 22:00:00,366,Syd,"61,234054","17,03203",9,E4,1kf,100,StoppliktF,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,1520100030,1071860295,2019-04-16 23:00:00,9999-12-31 23:00:00,972,Syd,"61,227674","17,03259",10,E4,1kf->2kf,100,StoppliktE,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,1520100031,428403367,2019-04-17 00:00:00,9999-12-31 23:00:00,672,Syd,"61,221242","17,038005",11,E4,Vävning,100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,1520100032,374951799,2019-04-17 01:00:00,9999-12-31 23:00:00,690,Syd,"61,215811","17,042851",12,E4,1kf,100,Kilavfart,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,1520100195,428403349,2019-04-17 02:00:00,9999-12-31 23:00:00,109,Syd,"61,212419","17,045481",13,E4,1kf,100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,1520100033,428403357,2019-04-17 03:00:00,9999-12-31 23:00:00,51,Syd,"61,211726","17,045818",14,E4,1kf,100,StoppliktF,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,1520100034,428403353,2019-04-17 04:00:00,9999-12-31 23:00:00,62,Syd,"61,211218","17,045989",15,E4,1kf,100,StoppliktE,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,1520100035,1071860329,2019-04-17 05:00:00,9999-12-31 23:00:00,947,Syd,"61,206754","17,047308",16,E4,1kf->2kf,100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,1520100036,1071863482,2019-04-17 06:00:00,9999-12-31 23:00:00,949,Syd,"61,198204","17,047893",17,E4,Vävning,100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,1520100096,374951810,2019-04-17 07:00:00,9999-12-31 23:00:00,1037,Syd,"61,191141","17,046547",18,E4,1kf,100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,1520100097,1071863801,2019-04-17 08:00:00,9999-12-31 23:00:00,1046,Syd,"61,181743","17,046348",19,E4,1kf->2kf,100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,1520100098,1071863833,2019-04-17 09:00:00,9999-12-31 23:00:00,1004,Syd,"61,172797","17,047023",20,E4,Vävning,100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,1520100191,1071863817,2019-04-17 10:00:00,9999-12-31 23:00:00,678,Syd,"61,166514","17,040536",21,E4,1kf,100,Kilavfart,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,1520100192,428403355,2019-04-17 11:00:00,9999-12-31 23:00:00,1259,Syd,"61,158647","17,033893",22,E4,1kf->2kf,100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,1520100037,428403356,2019-04-17 12:00:00,9999-12-31 23:00:00,956,Syd,"61,148491","17,033386",23,E4,Vävning,100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,1520100038,1071863848,2019-04-17 13:00:00,9999-12-31 23:00:00,946,Syd,"61,140189","17,02831",24,E4,1kf->2kf,100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,1520100039,1071863900,2019-04-17 14:00:00,9999-12-31 23:00:00,963,Syd,"61,133121","17,020079",25,E4,2kf,100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,1520100040,1071863882,2019-04-17 15:00:00,9999-12-31 23:00:00,959,Syd,"61,124966","17,014785",26,E4,Vävning,100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,1520100041,1071863659,2019-04-17 16:00:00,9999-12-31 23:00:00,952,Syd,"61,116237","17,013153",27,E4,1kf,100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,1520100099,1071863641,2019-04-17 17:00:00,9999-12-31 23:00:00,957,Syd,"61,108594","17,005478",28,E4,1kf->2kf,100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,1520100042,1071863692,2019-04-17 18:00:00,9999-12-31 23:00:00,952,Syd,"61,102229","16,994338",29,E4,2kf,100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,1520100043,1071863723,2019-04-17 19:00:00,9999-12-31 23:00:00,819,Syd,"61,095157","16,983878",30,E4,Vävning,100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,1520100100,1071863705,2019-04-17 20:00:00,9999-12-31 23:00:00,953,Syd,"61,088087","16,975926",31,E4,1kf,100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,1520100044,374951704,2019-04-17 21:00:00,9999-12-31 23:00:00,955,Syd,"61,079201","16,970278",32,E4,1kf,100,Avfart,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,1520100196,428389807,2019-04-17 22:00:00,9999-12-31 23:00:00,78,Syd,"61,075526","16,966319",33,E4,1kf,100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,1520100101,428389805,2019-04-17 23:00:00,9999-12-31 23:00:00,624,Syd,"61,072742","16,964312",34,E4,1kf,100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,1520100002,428389808,2019-04-18 00:00:00,9999-12-31 23:00:00,214,Syd,"61,068809","16,964382",35,E4,1kf,100,Påfart,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,1520100003,1071723768,2019-04-18 01:00:00,9999-12-31 23:00:00,954,Syd,"61,063367","16,96373",36,E4,Vävning,100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### SegmentId meta data

In [59]:
segment_data.head(1)

    SegmentId  Length Road Antal kf  Max_speed
0  1071754891     930   83      1kf         90

### SegmentID and speeds

In [60]:
monday_speeds.head(1)

    SegmentId            StartTime              EndTime  Speed
0  1071707139  2019-06-03 00:00:00  2019-06-03 00:30:00    NaN

# The Goal

- Create a deep learning model to predict traffic speed after a traffic event until it returns to normal speed

# What variables needed to do predictions?
- SegmentID
- Speed in time
- Events
    - Code/Text
    - CREATION_TIME 	
    - COMPLETION_TIME 	
    - START_TIME 	
    - END_TIME

- Weather data is not needed to do the project and therefore not included here. Most important is to link speed and events first and then we can expand with weather data

# Observations

#### Event Document
- The event code
- X and Y location (this is most likely not latitude and longitude)

#### SegmentID and Speed
- segmentID
- Speed

#### SegmentId and coordinates
- SegmentID
- Latitude and Longitude coordinates

# My take on it

It's unclear if Latitude and Longitude can be connected to the X,Y from the event document which is required to link SegmentID, Speed and Events.

<br>

Therefore, questions to answer
- What type of coordinate do the X,Y represent in the event document since they don't look like latitude and longitude?

In [61]:
df = pd.read_csv("../data/events-with-lat-long-segmentID.csv", sep=",")

In [62]:
this_segment = df[df['SegmentID'] == 226255131]

In [63]:
this_segment

,Unnamed: 0,Skapad_År,Skapad_Månad,NAME,EVENT_CODE,EVENT_TEXT,Location_text,Väg,Riktning,LANE_MASK,CREATION_TIME,COMPLETION_TIME,START_TIME,END_TIME,Note,X,Y,latitude,longitude,SegmentID
1338,1338,2021,Juli,2021-07-27/23:16:50-1/4,40,Vägarbete,E4 från Axmartavlan (202) till Trafikplats Tön...,E4,Norr,OOOOOOOOO|XOOOOOOOO,2021-07-27 23:16:50,2021-07-28 00:32:15,2021-07-27 23:16:50,2021-07-28 00:30:00,Underhållsarbete i höjd med Högbacka. Risk för...,6765123,607357,61.00636,16.985545,226255131

In [64]:
segment_ids = []
segment_ids_count = []

#temp = df.loc[(df['EVENT_CODE'] != 40) & df['EVENT_CODE'] != 2)] 

# Only take south(syd) direction into consideration because 428389808 segment should only be for south dir.
temp = df.loc[(df['EVENT_CODE'] != 40) & 
              (df['EVENT_CODE'] != 2) &
              (df['Riktning'] == "Syd")] 


for segment_id in temp['SegmentID'].values:
    
    
    counts = temp['SegmentID'].value_counts()
    
    #print(counts)
    
    if segment_id not in segment_ids:
        
        
        count = counts.get(segment_id)
        
        print(segment_id, count)
        
        segment_ids_count = [str(segment_id), count]
        segment_ids.append(segment_id)

1071863723 2
428403354 62
428389808 152
1071723711 60
1071723605 2
1071707139 2
1071723800 2
1071707171 4
226992808 1
226944388 4
1071727508 4
428403369 12
1071723686 4
1071703593 2
428402118 2
1071863848 1
1071723815 2
428403366 2
1071845973 2
1071754891 2
1071845832 3
1071863801 2
1071891776 2
1071832566 3
1071703625 3
428390707 2
1071863817 1
428389804 1
1071863641 1
428403355 2
1071727530 1
1071790234 1
1071846005 1
1071707092 3
1071832389 1
1071727490 2
1071707154 1
1071723854 2
1071845814 2
428403352 2
1071832355 2
1071707121 1
374870394 1
1071846212 1
375160804 1
226910815 1
375114290 1
428403356 3
1071846041 1
1071727524 1
226736042 2
1071832374 1
428403367 1
1071845955 2
428390706 1
428390709 1
428397753 1
1071863659 1
1071703610 1
1071832301 1
1071703530 2
428403357 1
1071845863 1

We can see that segment_id: 428389808 has the most events

In [65]:
temp = temp[temp['SegmentID'] == 428389808]

In [66]:
temp.head(100)

,Unnamed: 0,Skapad_År,Skapad_Månad,NAME,EVENT_CODE,EVENT_TEXT,Location_text,Väg,Riktning,LANE_MASK,CREATION_TIME,COMPLETION_TIME,START_TIME,END_TIME,Note,X,Y,latitude,longitude,SegmentID
11,11,2019,Januari,2019-01-05/17:07:51-1/4,32,Stillastående fordon,E4 från Trafikplats Tönnebro (203) till Axmart...,E4,Syd,OOOOOOOOX|OOOOOOOOO,2019-01-05 17:07:50,2019-01-05 17:30:31,2019-01-05 17:07:51,2019-01-05 17:30:00,Personbil med haveri,6771941,606024,61.067895,16.964691,428389808
21,21,2019,Januari,2019-01-08/22:35:04-1/4,255,Bärgning,E4 från Trafikplats Tönnebro (203) till Axmart...,E4,Syd,OOOOOOOOX|OOOOOOOOO,2019-01-08 22:35:04,2019-01-08 23:07:08,2019-01-08 22:35:04,2019-01-08 23:05:00,Personbil som ska bärgas mellan Tönnebro och A...,6771941,606024,61.067895,16.964691,428389808
34,34,2019,Januari,2019-01-17/01:09:02-1/4,255,Bärgning,E4 från Trafikplats Tönnebro (203) till Axmart...,E4,Syd,XXXXXXXXX|OOOOOOOOO,2019-01-17 01:09:02,2019-01-17 02:09:53,2019-01-17 01:09:02,2019-01-17 02:15:00,Bärgning av personbil strax söder om Högbacka ...,6771941,606024,61.067895,16.964691,428389808
36,36,2019,Januari,2019-01-17/14:18:15-1/4,255,Bärgning,E4 från Trafikplats Tönnebro (203) till Axmart...,E4,Syd,XXXXXXXXX|OOOOOOOOO,2019-01-17 14:18:14,2019-01-17 14:32:57,2019-01-17 14:18:15,2019-01-17 14:30:00,Bärgning pågår. Vägen stängd ca Kl. 14:30,6771941,606024,61.067895,16.964691,428389808
39,39,2019,Januari,2019-01-18/12:28:50-1/4,255,Bärgning,E4 från Trafikplats Tönnebro (203) till Axmart...,E4,Syd,XXXXXXXXX|OOOOOOOOO,2019-01-18 12:28:50,2019-01-18 13:03:49,2019-01-18 12:28:50,2019-01-18 13:00:00,bärgning av personbil södergående,6771941,606024,61.067895,16.964691,428389808
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
836,836,2020,Juli,2020-07-26/18:42:48-1/4,255,Bärgning,E4 från Trafikplats Tönnebro (203) till Axmart...,E4,Syd,OOOOOOOOX|OOOOOOOOO,2020-07-26 18:42:48,2020-07-26 19:08:47,2020-07-26 18:42:48,2020-07-26 19:30:00,"Bärgning av en personbil i höjd med Högbacka,",6771941,606024,61.067895,16.964691,428389808
853,853,2020,Augusti,2020-08-02/15:37:16-1/4,169,Långsam kö,E4 från Trafikplats Tönnebro (203) till Trafik...,E4,Syd,OOOOOOOOX|OOOOOOOOO,2020-08-02 15:37:15,2020-08-02 20:45:04,2020-08-02 15:37:16,2020-08-02 21:00:00,Tät trafik Tönnebro - Gävle i södergående rikt...,6771941,606024,61.067895,16.964691,428389808
876,876,2020,Augusti,2020-08-13/03:32:28-1/4,32,Stillastående fordon,E4 från Trafikplats Tönnebro (203) till Axmart...,E4,Syd,OOOOOOOOX|OOOOOOOOO,2020-08-13 03:32:27,2020-08-13 04:08:21,2020-08-13 03:32:28,2020-08-13 04:30:00,Lastbil med punktering strax söder om Tönnebro...,6771941,606024,61.067895,16.964691,428389808
896,896,2020,Augusti,2020-08-22/20:33:44-1/4,257,Rastplats #,E4 från Trafikplats Tönnebro (203) till Axmart...,E4,Syd,OOOOOOOOO|OOOOOOOOO,2020-08-22 20:33:44,2020-08-24 07:45:56,2020-08-22 20:33:44,2020-08-24 08:00:00,"E 4 Högbacka rastplats, i riktning mot Gävle.\...",6771941,606024,61.067895,16.964691,428389808
909,909,2020,Augusti,2020-08-26/13:40:03-1/4,255,Bärgning,E4 från Trafikplats Tönnebro (203) till Axmart...,E4,Syd,OOOOOOOOX|OOOOOOOOO,2020-08-26 13:40:02,2020-08-26 14:10:35,2020-08-26 13:40:03,2020-08-26 14:20:00,Personbil med haveri söder om Tönnebro. Begrän...,6771941,606024,61.067895,16.964691,428389808

In [67]:
temp.to_csv("RoadEvents_SegmentID_428389808.csv", sep=",")